@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

body{
  margin-top: 40px;
  background-color: rgba(124, 160, 117, 0.425);
}

#content{
  font-size: 1.4em;
  color: rgb(91, 91, 92);
  margin-left: 50px;
}
#title{
  font-size: 2.5em;
  color: rgb(65, 68, 71);
}
hr{
  border: 2px solid rgb(247, 247, 247);
  width: 100%;
}